.navbar {
  background-color: #343a40;
  color: #fff;
  padding-block: 5px;

}

.navbar h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-left: 25px;
  margin-bottom: 10px;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-item{
    padding-bottom: 3px;
}

.nav-link:hover {
  text-decoration: underline;
}
